
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_0iovguzk5g17cik9.eot?t=1501850038975'); /* IE9*/
  src: url('//at.alicdn.com/t/font_0iovguzk5g17cik9.eot?t=1501850038975#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_0iovguzk5g17cik9.woff?t=1501850038975') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_0iovguzk5g17cik9.ttf?t=1501850038975') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_0iovguzk5g17cik9.svg?t=1501850038975#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cebianlan:before { content: "\e792"; }

.icon-rili:before { content: "\e600"; }
