/*重置样式表*/
/*==========样式重置===========*/
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{
	margin:0; padding:0;
}
ul,ol{
	list-style:none;}
img{
	display:block;
	border:0;}
input{
	outline:none;}
header,footer,section,nav{
	display:block;}

body{
	font-size:12px;
	font-family:"微软雅黑";
	color:#3e3e3e;}
a{
	text-decoration:none;}
html,body{
	width: 100%;
	height: 100%;
}